
@font-face{
	src: url(../fonts/sharkshock_enchanted-land/Enchanted_Land.otf);
	font-family: enchant;
}

* {
	font-family: enchant;
	font-size: 1.5vw;
	color: black;
}

body{
	width: 100vw;
	height: 100vh;
	background-image: url("../images/background_master_sword.jpg");
	position: relative;
}

button {
	width: 5vw;
	border: 1px rgba(192,192,192,0.65) solid;
	border-radius: 25%;
}

button:hover{
	cursor: pointer;
}

#crest {
	position: absolute;
	width: 500px;
	height: 298px;
	background-image: url("../images/zelda_crest_500x298.png");
	left: 60vw;
}

.input, button {
	position: relative;
	top: 2vh;
}

input {
	border: white 1px solid;
	border-radius: 20px;
}

input:focus {
	outline: none;
}


form {
	border: rgba(192,192,192,0.65) 1px solid;
	border-radius: 40%;
	position: absolute;
	width: 22vw;
	height: 22vh;
	top: 15vh;
	left: 10vw;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	background: linear-gradient( to right, rgba(192,192,192,0.8), rgba(238,232,170,0.8) );
}

form:hover {
	box-shadow: 5px 20px 100px rgb(238,232,170);
}
