
body{
	position: relative;
}

.attackButton {
	display: block;
	width: 10vw;
	height: 10vh;
	border: black 2px solid;
	border-radius: 10px;
}

#attackButtons {
	display:flex;
	justify-content: space-around;
}

#attack1 {
	background-color: blue;
}

#attack2 {
	background-color: green;
}

#attack3 {
	background-color: red;
}

#JSONViewer {
	display: block;
	width: 30vw;
	height: auto;
	border: black 2px solid;
	border-radius: 10px;
}
