.availableGame {
	width: 16vw;
	height: 15vh;
	border: rgba(0,0,0,0) 1px solid;
	margin-bottom: 25px;
	border-radius: 30%;
	cursor: pointer;
	font-size: 5vw;
	background: radial-gradient(rgba(136,24,49,0.8), rgba(93,62,77,0.8));
}

.content {
	text-align: center;
	font-weight: bold;
	font-size: 1.2vw;
	color:rgb(216,216,216);
}

#eye {
	width: 324px;
	height: 300px;
	background-image: url("../images/324px-BotW_Blue_Sheikah_Eye_Symbol.png");
	position: absolute;
	top: 3vh;
	left: 3vw;
	opacity: 0;
}

#gamesListContainer {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	overflow: scroll;
	overflow-x: hidden;
	width: 52vw;
	height: 50vh;
	position: absolute;
	top: 24vh;
	left: 12vw;
	z-index: -1;
	border: rgba(0,0,0,0) solid 1px;
	border-radius: 10%;
}

html{
	background-image: url("../images/background_hyrule_castle.jpg");
	width: 100vw;
	height: 100vh;
}


#statusDiv{
	background-image: url("../images/zelda_fanart_by_dysal.jpg");
	background-color: rgb(40,40,40);
	background-repeat: no-repeat;
	background-size: 746px 952px;
	background-position-x: right;
	width: 100vw;
	height: 100vh;
	z-index: 5;
	display: "none"
}

#userInfoDiv {
	color: white;
	font-size: 3vw;
}

#disconnect:hover, #status:hover {
	cursor: pointer;
}

::-webkit-scrollbar {
	color: rgba(0,0,0,0);
  }
